Repository montanarograziano/spark_plan_viz: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

ci: fix deps install in test.yml
  .github/workflows/test.yml
Due: none

fix: suppress pylance error
  src/spark_plan_viz/visualize_plan.py
Due: ruff-check, ruff-format, mypy

chore: minor changes
  Justfile
  Makefile
  pyproject.toml
  src/spark_plan_viz/template.html
  src/spark_plan_viz/visualize_plan.py
  tests/test_visualize_plan.py
  uv.lock
Due: ruff-check, ruff-format, mypy

ci: replaced make with just in test pipeline
  .github/workflows/test.yml
Due: none

deps: add ipykernel for jupyter notebook testing in vscode
  pyproject.toml
  uv.lock
Due: none

fix: fix error in template
  README.md
  notebooks/example.html
  src/spark_plan_viz/visualize_plan.py
Due: ruff-check, ruff-format, mypy

fix: fix readme example
  README.md
  docs/example.jpg
Due: none

chore: add dynamic versioning
  pyproject.toml
Due: none

chore: add version inside __init__.py
  src/spark_plan_viz/__init__.py
  uv.lock
Due: ruff-check, ruff-format, mypy

fix: add correct type hints
  pyproject.toml
  src/spark_plan_viz/visualize_plan.py
Due: ruff-check, ruff-format, mypy

fix: improvements in the visualization
  README.md
  docs/example.jpeg
  docs/example.jpg
  example.html
  notebooks/example.html
  src/spark_plan_viz/template.html
  src/spark_plan_viz/visualize_plan.py
  tests/test_parsing.py
  tests/test_visualize_plan.py
Due: ruff-check, ruff-format, mypy

chore: add git-cliff
  pyproject.toml
  uv.lock
Due: none

chore: add cliff.toml config
  cliff.toml
Due: none

docs: fix README.md and Justfile
  Justfile
  README.md
Due: none

chore: Add release pipeline
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

docs: Add GitHub template sections
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
  RELEASE.md
  SECURITY.md
Due: none

Chore/cicd_improvements (#1)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Justfile
  README.md
  RELEASE.md
  SECURITY.md
  cliff.toml
  pyproject.toml
  uv.lock
Due: none

fix: disable test pipeline on push on main
  .github/workflows/test.yml
Due: none

fix: disable test pipeline on push on main (#2)
  .github/workflows/test.yml
Due: none

fix: fix release pipeline
  .github/workflows/publish.yml
  .github/workflows/release.yml
  RELEASE.md
Due: none

fix: update release pipeline
  .github/workflows/release.yml
Due: none

Change installation command in README
  README.md
Due: none

refactor: break god module into focused submodules
  src/spark_plan_viz/__init__.py
  src/spark_plan_viz/_constants.py
  src/spark_plan_viz/_extractors.py
  src/spark_plan_viz/_parser.py
  src/spark_plan_viz/_renderer.py
  src/spark_plan_viz/_types.py
  src/spark_plan_viz/template.html
  src/spark_plan_viz/visualize_plan.py
  tests/test_visualize_plan.py
Due: ruff-check, ruff-format, mypy

feat: add 14-rule optimization suggestions engine
  src/spark_plan_viz/_analyzer.py
  src/spark_plan_viz/_rules.py
  tests/test_rules.py
Due: ruff-check, ruff-format, mypy

docs: add Zensical documentation site with GitHub Pages deployment
  .github/workflows/docs.yml
  Justfile
  docs/api-reference.md
  docs/changelog.md
  docs/contributing.md
  docs/gallery.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/optimization-reference/index.md
  docs/understanding-plans/aqe.md
  docs/understanding-plans/index.md
  docs/understanding-plans/node-types.md
  docs/usage/file-mode.md
  docs/usage/index.md
  docs/usage/notebook-mode.md
  docs/usage/programmatic-api.md
  pyproject.toml
  uv.lock
  zensical.toml
Due: none

chore: update README and gitignore for new features
  .gitignore
  README.md
Due: none

feat(ci): automate releases with python-semantic-release
  .github/workflows/release.yml
  RELEASE.md
  cliff.toml
  pyproject.toml
  uv.lock
Due: none

fix(ci): fix PSR changelog config and disable via workflow input
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix(ci): fix PSR build in Docker and prevent major bump on 0.x
  .github/workflows/release.yml
  pyproject.toml
Due: none

chore(release): v1.0.0
  pyproject.toml
Due: none

chore(release): sync uv.lock for v1.0.0
  uv.lock
Due: none

docs: add PyPI link to README, docs site, and project metadata
  README.md
  docs/index.md
  docs/installation.md
  pyproject.toml
Due: none

feat: add example-driven integration tests and expanded gallery
  README.md
  docs/gallery.md
  tests/test_examples.py
Due: ruff-check, ruff-format

chore(ci): simplify workflows
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  tests/test_examples.py
  tests/test_visualize_plan.py
Due: ruff-check, ruff-format

fix(api): refactor plan exports and rules
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  docs/api-reference.md
  src/spark_plan_viz/_rules.py
  src/spark_plan_viz/api.py
  tests/test_parsing.py
  tests/test_rules.py
  tests/test_visualize_plan.py
Due: ruff-check, ruff-format, mypy

fix(tests): avoid opening browser during file render
  src/spark_plan_viz/_renderer.py
  src/spark_plan_viz/_rules.py
  tests/test_examples.py
  tests/test_rules.py
  tests/test_visualize_plan.py
Due: ruff-check, ruff-format, mypy

chore(release): v1.1.0
  pyproject.toml
  uv.lock
Due: none

fix: tighten query plan suggestion precision
  README.md
  docs/contributing.md
  docs/gallery.md
  docs/index.md
  docs/optimization-reference/index.md
  docs/understanding-plans/aqe.md
  docs/usage/index.md
  src/spark_plan_viz/_extractors.py
  src/spark_plan_viz/_rules.py
  tests/test_examples.py
  tests/test_parsing.py
  tests/test_rules.py
Due: ruff-check, ruff-format, mypy

chore(release): v1.1.1
  pyproject.toml
  uv.lock
Due: none

feat: extend analyzer for Spark 4 and new plan anti-patterns
  .gitignore
  Justfile
  README.md
  docs/gallery.md
  docs/optimization-reference/index.md
  docs/understanding-plans/node-types.md
  example.html
  pyproject.toml
  src/spark_plan_viz/__init__.py
  src/spark_plan_viz/_constants.py
  src/spark_plan_viz/_extractors.py
  src/spark_plan_viz/_parser.py
  src/spark_plan_viz/_rules.py
  src/spark_plan_viz/_types.py
  src/spark_plan_viz/api.py
  src/spark_plan_viz/template.html
  tests/test_examples.py
  tests/test_parsing.py
  tests/test_rules.py
  tests/test_visualize_plan.py
  uv.lock
Due: ruff-check, ruff-format, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^src/ and \.py$
